<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ngelana"
        tools:targetApi="31">

        <!-- <meta-data -->
        <!-- android:name="com.google.android.geo.API_KEY" -->
        <!-- android:value="${MAPS_API_KEY}" /> -->

        <activity
            android:name=".view.explore.place.tourist.TouristAttractionsActivity"
            android:parentActivityName=".view.explore.ExploreFragment"
            android:exported="false" />
        <activity
            android:name=".view.explore.place.lodging.LodgingActivity"
            android:parentActivityName=".view.explore.ExploreFragment"
            android:exported="false" />
        <activity
            android:name=".view.explore.place.culinary.CulinarySpotActivity"
            android:parentActivityName=".view.explore.ExploreFragment"
            android:exported="false" />

        <activity
            android:name=".view.home.plan.recommendation.RecommendationPlanActivity"
            android:exported="false" />
        <activity
            android:name=".view.home.plan.customize.CustomizePlanActivity"
            android:parentActivityName=".view.home.plan.recommendation.RecommendationPlanActivity"
            android:label="@string/customize_place"
            android:exported="false" />
        <activity
            android:name=".view.home.plan.result.ResultPlanActivity"
            android:exported="false" />

        <activity
            android:name=".view.splashscreen.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".view.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.MainActivity"
            android:exported="false" />
    </application>

</manifest>