<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_ngelana"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_ngelana"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ngelana"
        tools:targetApi="31">
        <activity
            android:name=".view.detail.DetailPlaceActivity"
            android:exported="false" />
        <!-- <meta-data -->
        <!-- android:name="com.google.android.geo.API_KEY" -->
        <!-- android:value="${MAPS_API_KEY}" /> -->
        <!-- Profile -->
        <activity
            android:name=".view.profile.personalinformation.PersonalInformationActivity"
            android:exported="false" />
        <activity
            android:name=".view.profile.personalinformation.edit.EditPersonalInformationActivity"
            android:exported="false" />
        <activity
            android:name=".view.profile.interest.MyInterestActivity"
            android:exported="false" />
        <activity
            android:name=".view.profile.interest.edit.EditMyInterestActivity"
            android:exported="false" />
        <activity
            android:name=".view.profile.favorite.MyFavoriteActivity"
            android:exported="false" />
        <activity
            android:name=".view.profile.review.MyReviewActivity"
            android:exported="false" />
        <activity
            android:name=".view.profile.language.LanguageActivity"
            android:exported="false" />
        <activity
            android:name=".view.profile.helpcenter.HelpCenterActivity"
            android:exported="false" />
        <activity
            android:name=".view.profile.about.AboutUsActivity"
            android:exported="false" /> <!-- My Trip -->
        <activity
            android:name=".view.mytrip.detail.UpcomingTripDetailActivity"
            android:exported="false" />
        <activity
            android:name=".view.mytrip.detail.CompletedTripDetailActivity"
            android:exported="false" />
        <activity
            android:name=".view.mytrip.detail.CanceledTripDetailActivity"
            android:exported="false" /> <!-- Explore -->
        <activity
            android:name=".view.explore.place.tourist.TouristAttractionsActivity"
            android:exported="false" />
        <activity
            android:name=".view.explore.place.culinary.CulinarySpotActivity"
            android:exported="false" />
        <activity
            android:name=".view.explore.place.lodging.LodgingActivity"
            android:exported="false" /> <!-- Home -->
        <activity
            android:name=".view.home.plan.date.DatePlanActivity"
            android:exported="false" />
        <activity
            android:name=".view.home.plan.recommendation.RecommendationPlanActivity"
            android:exported="false" />
        <activity
            android:name=".view.home.plan.customize.CustomizePlanActivity"
            android:exported="false" />
        <activity
            android:name=".view.home.plan.result.ResultPlanActivity"
            android:exported="false" />
        <activity
            android:name=".view.splashscreen.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.signup.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".view.onboarding.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.MainActivity"
            android:exported="false" />
    </application>

</manifest>